<div class="col-xs-12">&nbsp;</div>

<h3>Sistema de venta - Coderhouse</h3>
<br />

<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-6">
      <input type="text" class="col-xs-12 form-control" id="search" ng-model="searchText" />
    </div>
    <div class="col-xs-6">
      <button type="button" class="btn btn-primary" ng-click="getProducto(searchText)">
        <i class="glyphicon glyphicon-search"></i>
        Buscar producto
      </button>
      <button type="button" class="btn btn-danger" ng-click="cleanVenta()">
        <i class="glyphicon glyphicon-trash"></i>
        Limpiar
      </button>
    </div>

    <div class="col-xs-12">
      <br />
      <search-message type="{{responseType}}"></search-message>
      <result-search></result-search>
    </div>
  </div>
</div>

<div class="col-xs-12">
  <table id="tablaVenta">
    <thead>
      <tr>
        <th>SKU</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio unitario</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="producto in listaProductosVentas">
        <td>{{producto.sku}}</td>
        <td>{{producto.nombre}}</td>
        <td>
          <input type="text" value="0" ng-model="producto.quantity"/>
        </td>
        <td>{{producto.price}}</td>
        <td>{{producto.total = producto.price * producto.quantity | number}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="totalVenta">Total venta</td>
        <td class="totalVentaText">
          $ <span id="totalVentaTotal">{{totalVenta}}</span>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="col-xs-12">&nbsp;</div>
