<div class="col-md-12">
  <div class="row">
    <!-- Columna central descripcion Home -->
    <div class="col-md-8">
      <div>
        <h3>Bienvenido a nuestra tienda</h3>
        <br />

        <p>
          Hola querido visitante, bienvenido a nuestra tienda virtual utilizando
          la plataforma de MercadoLibre y su API p&uacute;blica.
          <br />

          Para m&aacute;s informaci&oacute;n visitar <a href="http://www.mercadolibre.com.uy/" title="MercadoLibre UY">Mercado Libre Uruguay</a>.
        </p>
      </div>
    </div>

    <!-- Columna con imagen de cliente -->
    <div class="col-md-4 text-center">
      <img ng-src="/images/dono_padaria.jpg" alt="Imagen cliente" />
    </div>
  </div>
</div>
